@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: hsl(var(--b3));
    height: 100vh;
    min-width: 250px;
}
.content-container{
    max-width: 1200px;
    margin: auto;
    min-width: 250px;
    padding: 100px 30px;
    height: 100%;
    width: 100;
    background-color: hsl(var(--b3));
}
.card {
    margin: 20px auto;
    /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.452);
    background-color: rgba(128, 128, 128, 0.411); */
    border-radius: 2px;
    max-width: 800px;
}
.clickable {
    cursor: pointer;
    user-select: none;
}
.bx--progress-bar{
    flex: 1;
    border-radius: 500px !important;
}
.bx--progress-bar__track{
    border-radius: 500px !important;
}

body,html{
    margin:0px;
    padding:0px;
    color: hsl(var(--bc));
}
.bx--progress-bar__helper-text{
    margin: auto;
    text-align: center;
}
.content-container .bx--progress-bar__bar{
	background-color: hsl(var(--a));	
}
.bx--modal-content{
    max-width: 80%;
}
.progress-value {
    width: 100%;
}
.add-button {
    margin-left: auto;
    display: flex;
    justify-content: center;
}